[Desktop Entry]
Name=KCalc
Name[ru]=Калькулятор KCalc
GenericName=Scientific Calculator
GenericName[ru]=Калькулятор
Type=Application
Comment=Calculator which offers many mathematical functions, such as trigonometric functions, logic operations, and statistical calculations
Comment[ru]=Калькулятор с поддержкой тригонометрических, логических и статистических вычислений
Exec=/usr/bin/kcalc
Icon=accessories-calculator
